{% extends "mybl/base.html" %}
{% load static %}
{% block content %}
<div class="mt-4">
  <a class="card-link" href="https://github.com/ksn38/">github</a>
</div>
<div>
  <a class="card-link" href="https://www.youtube.com/channel/UCfRT24FZOaIhL9BCVh0PyJQ">youtube</a>
</div>
<div>
  <a>ksn38@yandex.ru</a>
</div>
<!--select id="data-avg">
  <option v-for="(ticker, key) in tickerSelect" v-bind:value="key" v-text:value="ticker"></option>
</select>
<input type="submit" value="Show" id='button-avg'>
<script type="text/javascript">
  let dataAvgSelect = new Vue ({
    el: '#data-avg',
    data: {
      tickerSelect: {
        vix: 'VIX',
        bsesn: 'S&P BSE SENSEX',
        ixic: 'NASDAQ Composite'
      }
    }
  })
  
  let dataAvg = document.getElementById('data-avg');
  let buttonAvg = document.getElementById('button-avg');
  
  buttonAvg.onclick = () => {
    console.log(dataAvg.value);
  }  
</script-->
{% endblock content %}
