{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ksn52</title>
    <link rel="stylesheet" href="{% static "mybl/bootstrap.css" %}">
    <link rel="shortcut icon" href="{% static "mybl/favicon.png" %}">
    <script src="{% static "mybl/jquery-3.5.1.js" %}"></script>
  </head>
  <body>
  <!-- Статическая навигационная панель -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
      <a class="navbar-brand" href="{% url 'index' %}">ksn52</a>
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'blog' %}">Блог</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'hh' %}">hh</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'tickers' %}">Tickers</a>
        </div>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="navbar-text">
          <a> {{ user.username }} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="{% url 'login' %}">Логин</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <div class="container">
      <div>
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div> <!-- /container -->
  </body>
</html>
