{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ksn38</title>
    <link rel="stylesheet" href="{% static 'mybl/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static 'mybl/favicon.png' %}">
    <script src="{% static 'mybl/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'mybl/Chart.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
    </head>
  <body class='bg-success bg-light'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!--a class="navbar-brand" href="{% url 'index' %}">Currencies rating</a-->
      <div class="navbar-nav mx-1">
        <a class="nav-link" href="{% url 'index' %}">Financial correlations</a>
      </div>
      <div class="navbar-nav mx-1">
        <a class="nav-link" href="{% url 'hh' %}">Programming data</a>
      </div>
	    <div class="navbar-nav mx-1">
        <a class="nav-link" href="{% url 'currencies' %}">Currencies and MOEX stocks</a>
      </div>
      <div class="navbar-nav mx-1">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </div>
    </nav>
    <div id="loadingOverlay" class='d-flex justify-content-center'>
      <div id="lottie-container" style="width: 200px; height: 200px;"></div>
    </div>
    <div id="content" class="container-fluid" style="display: none;">
      <div>
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div> 
  </body>
  <script type="text/javascript">
    var animation = lottie.loadAnimation({
    container: document.getElementById('lottie-container'), // the dom element that will contain the animation
    renderer: 'svg', // or 'canvas'
    loop: true,
    autoplay: true,
    path: '{% static "mybl/ball.json" %}' // your Lottie JSON file path
  });
    window.addEventListener('load', function() {
    const loader = document.getElementById('lottie-container');
    const content = document.getElementById('content');
    
    setTimeout(() => {
      loader.style.opacity = '0';
      loader.style.display = 'none';
      content.style.display = 'block';
    }, 0);
  });
  </script>
</html>
