{% extends "mybl/base.html" %}
{% block header %}
  <!--h1>Посты</h1 -->
{% endblock header %}
{% block content %}
<ul>
  {% for bpost in blog %}
  <div class="card card-body">
    <div>
      <h5>
        <span class="d-flex justify-content-between">
          <a class="card-link" href="{% url 'bpost' bpost.id %}">{{ bpost.header }}</a>
          <small>{{ bpost.date_added|date:'M d, Y H:i' }}</small>
        </span>
      </h5>
    </div>
    <div class="card card-body">
      {{bpost.main}}
    </div>
  </div> 
  {% empty %}
    <li>Ни одной записи еще не было добавлено</li>
  {% endfor %}
</ul>
<h5><a class="card-link d-flex justify-content-end" href="{% url 'new_bpost' %}">Добавить новую запись</h5>
{% endblock content %}
