{% extends "mybl/base.html" %}
{% load static %}
{% block content %}
<div class='d-flex justify-content-around m-2 flex-wrap align-items-start'>
  <table class='table-sm table-dark table-striped table-bordered'>
    <caption style='caption-side: top'><small>Количество вакансий, процент вакансий без опыта, соотношение резюме к вакансиям за сегодня.</small></caption>
    {% for lang in langs %}
      <tr>
        {% if lang.name == 'C%23' %}
          <td>
          {{ 'C#' }}
          </td>
        {% elif lang.name == 'c%2B%2B' %}
          <td>
          {{ 'C++' }}
          </td>
        {% else %}
          <td>
          {{ lang.name }}
          </td>
        {% endif %}
        <td>
          {{ lang.val }}
        </td>
        <td>
          {{ lang.val_noexp }}
        </td>
        <td>
          {{ lang.res_vac }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <table class='table-sm table-dark table-striped table-bordered mt-4'>
    <caption style='caption-side: top'><small>Изменение от среднего за ноябрь в %.</small></caption>
    {% for chart in charts %}
      <tr>
        {% if chart.name == 'C%23' %}
          <td>
          {{ 'C#' }}
          </td>
        {% elif chart.name == 'c%2B%2B' %}
          <td>
          {{ 'C++' }}
          </td>
        {% else %}
          <td>
          {{ chart.name }}
          </td>
        {% endif %}
        <td class='color'>
          {{ chart.cnd_val }}
        </td>
        <td class='color'>
          {{ chart.cnd_vn }}
        </td>
        <td class='color'>
          {{ chart.cnd_rv }}
        </td>
      </tr>
    {% endfor %}
  </table>
<script src="{% static 'mybl/script_color.js' %}"></script>
{% endblock content %}
</div>
</div>
