{% extends "mybl/base.html" %}
{% load static %}
{% block content %}
<div class='d-flex justify-content-around m-2 flex-wrap align-items-start'>
  <div class='d-flex justify-content-around mt-2 flex-wrap align-items-start'>
  <table class='table-sm table-dark table-bordered m-2'>
    <caption style='caption-side: down'><small>Search word, number of vacancies, percent for interns, resumes/vacancies (from hh.ru)</small></caption>
    {% for lang in langs %}
      <tr>
        {% if lang.name == 'cs' %}
          <td class='bg-dark text-light name_lang'>
          {{ 'C#' }}
          </td>
        {% elif lang.name == 'cpp' %}
          <td class='bg-dark text-light name_lang'>
          {{ 'C++' }}
          </td>
        {% else %}
          <td class='bg-dark text-light name_lang'>
          {{ lang.name }}
          </td>
        {% endif %}
        <td class='text-right val-now'>
          {{ lang.val }}
        </td>
        <td class='text-right val_noexp-now'>
          {{ lang.val_noexp }}
        </td>
        <td class='text-right res_vac-now'>
          {{ lang.res_vac }}
        </td>
        <td class='text-right rate-today text-secondary bg-dark'>
          {{ lang.rate }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <table class='table-sm m-2 table-dark table-bordered'>
    <caption style='caption-side: down'><small>Changing from december 2020 in %</small></caption>
    {% for chart in charts %}
      <tr>
        {% if chart.name == 'cs' %}
          <td class='bg-dark text-light name_lang'>
          {{ 'C#' }}
          </td>
        {% elif chart.name == 'cpp' %}
          <td class='bg-dark text-light name_lang'>
          {{ 'C++' }}
          </td>
        {% else %}
          <td class='bg-dark text-light name_lang'>
          {{ chart.name }}
          </td>
        {% endif %}
        <td class='val-cndg-2021 text-right'>
          {{ chart.cnd_val }}
        </td>
        <td class='val_noexp-cndg-2021 text-right'>
          {{ chart.cnd_vn }}
        </td>
        <td class='res_vac-cndg-2021 text-right'>
          {{ chart.cnd_rv }}
        </td>
        <td class='text-right text-secondary bg-dark'>
          {{ chart.rate }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <span>
  <table class='table-sm mx-2 mt-2 mb-3 table-dark table-bordered' id='table-2022' hidden="true">
    {% for chart in charts_2022 %}
      <tr>
        {% if chart.name == 'cs' %}
          <td class='bg-dark text-light name_lang'>
          {{ 'C#' }}
          </td>
        {% elif chart.name == 'cpp' %}
          <td class='bg-dark text-light name_lang'>
          {{ 'C++' }}
          </td>
        {% else %}
          <td class='bg-dark text-light name_lang'>
          {{ chart.name }}
          </td>
        {% endif %}
        <td class='val-cndg-2021 text-right'>
          {{ chart.cnd_val }}
        </td>
        <td class='val_noexp-cndg-2021 text-right'>
          {{ chart.cnd_vn }}
        </td>
        <td class='res_vac-cndg-2021 text-right'>
          {{ chart.cnd_rv }}
        </td>
        <td class='text-right rate-to-march text-secondary bg-dark'>
          {{ chart.rate }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <table class='table-sm mx-2 mt-2 mb-3 table-dark table-bordered' id='table-2021' hidden="true">
    {% for chart in charts_2021 %}
      <tr>
        {% if chart.name == 'cs' %}
          <td class='bg-dark text-light name_lang'>
          {{ 'C#' }}
          </td>
        {% elif chart.name == 'cpp' %}
          <td class='bg-dark text-light name_lang'>
          {{ 'C++' }}
          </td>
        {% else %}
          <td class='bg-dark text-light name_lang'>
          {{ chart.name }}
          </td>
        {% endif %}
        <td class='val-cndg-2021 text-right'>
          {{ chart.cnd_val }}
        </td>
        <td class='val_noexp-cndg-2021 text-right'>
          {{ chart.cnd_vn }}
        </td>
        <td class='res_vac-cndg-2021 text-right'>
          {{ chart.cnd_rv }}
        </td>
        <td class='text-right rate-to-march text-secondary bg-dark'>
          {{ chart.rate }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <table class='table-sm mx-2 mt-2 mb-3 table-dark table-bordered' id='table-2023'>
    {% for chart in charts_2023 %}
      <tr>
        {% if chart.name == 'cs' %}
          <td class='bg-dark text-light name_lang'>
          {{ 'C#' }}
          </td>
        {% elif chart.name == 'cpp' %}
          <td class='bg-dark text-light name_lang'>
          {{ 'C++' }}
          </td>
        {% else %}
          <td class='bg-dark text-light name_lang'>
          {{ chart.name }}
          </td>
        {% endif %}
        <td class='val-cndg-2021 text-right'>
          {{ chart.cnd_val }}
        </td>
        <td class='val_noexp-cndg-2021 text-right'>
          {{ chart.cnd_vn }}
        </td>
        <td class='res_vac-cndg-2021 text-right'>
          {{ chart.cnd_rv }}
        </td>
        <td class='text-right rate-to-march text-secondary bg-dark'>
          {{ chart.rate }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <small style='margin-left: 10px'>Changing from 
    <input type='radio' id='r2021' name='year1' value='2021'>2021</td>
    <input type='radio' id='r2022' name='year1' value='2022'>2022</td>
    <input type='radio' id='r2023' name='year1' value='2023' checked="checked">2023</td>
  </small>
  </span>
  </div>
  <div class='flex-wrap mb-4'>
    <div class='mb-3'><canvas id="line-chart-val" width="900" height="500"></canvas></div>
    <div class='radWin d-flex justify-content-around'>
      <div>
        <select id="lang" class='mr-1'>
          <option value="1c">1C</option>
          <option value="ABAP">ABAP</option>
          <option value="Android">Android</option>
          <option value="Data scientist">Data scientist</option>
          <option value="DevOps">DevOps</option>
          <option selected value="Frontend">Frontend</option>
          <option value="Golang">Golang</option>
          <option value="Javascript">Javascript</option>
          <option value="Ruby">Ruby</option>
          <option value="Scala">Scala</option>
          <option value="iOS">iOS</option>
        </select>
        <input type="submit" value="Show" id='button-lang'>
      </div>
    </div>
    <div class='mb-3'><canvas id="line-chart-val_noexp" width="900" height="500"></canvas></div>
    <div class='mb-3'><canvas id="line-chart-res" width="900" height="500"></canvas></div>
    <div class=''><canvas id="line-chart-avg" width="900" height="500"></canvas></div>
  </div>
  <script type="text/javascript">
    var receivedDataVal  = {{ graphs_val|safe }};
    var receivedDataValNoExp  = {{ graphs_val_noexp|safe }};
    var receivedDataResVac  = {{ graphs_res_vac|safe }};
    var receivedDataAvg  = {{ graphs_avg|safe }};
    //console.log(receivedData);
  </script>
<script src="{% static 'mybl/hh.js' %}"></script>
{% endblock content %}
</div>
</div>
