{% extends "mybl/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<body>
  <span class='d-flex justify-content-center mt-2'>
    Акции-лидеры и аутсайдеры Мосбиржи. Разница между последней сессией
  </span>
  <span class='d-flex justify-content-center mb-2'>
    <label for='days sr-only' style='padding-right: 10px'>и числом</label>
    <input class='' id='days' value='2' size='2'>
    <input type='submit' class='button' value='дней назад'></input>
  </span>
  <div class='d-flex justify-content-center'>
    <table class='table-sm table-dark table-striped table-bordered'>
      <tr>
        <th>Акция</th>
        <th>Изменение</th>
        <th>Акция</th>
        <th>Изменение</th>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
    </table>
  </div>
  <script src='static/mybl/script.js'></script>
</body>
</html>
{% endblock content %}
