{% extends "mybl/base.html" %}
{% load static %}
{% block content %}
<body>
  <div class='d-flex justify-content-around m-2 flex-wrap align-items-start'>
    <div class='flex-column justify-content-center mt-4'>
      <small class='d-flex justify-content-around mt-2 text-secondary'>Изменение валют относительно рубля за периоды:</small> 
      <form class='d-flex justify-content-center mb-3' action="#" method="get" class='ml-auto'>
        <input type="number" value="4000" name="mytextbox3" size='3' min='1' max='20000' id='mytextbox3'>
        <input type="number" value="2000" name="mytextbox2" size='3' min='1' max='20000' id='mytextbox2'>
        <input type="number" value="500" name="mytextbox1" size='3' min='1' max='20000' id='mytextbox1'>
        <input type="number" value="1" name="mytextbox" size='3' min='1' max='20000' id='mytextbox'>
        <input type="submit" class="button" value="дней" name="mybtn" id='mybtn'>
      </form>
      <div class='d-flex flex-nowrap'>
        <div  class='flex-column'>
          <div>({{ date_delta3 }})</div>
          <table class='table-sm table-bordered table-dark' style='height: 0px'>
            {% for name, value in dif_plus3 %}
              <tr>
                <td class='currency-plus'>
                  {{ name }}
                </td>
                <td class='value-plus3'>
                  {{ value }}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div  class='flex-column'>
          <div>({{ date_delta2 }})</div>
          <table class='table-sm table-bordered table-dark' style='height: 0px'>
            {% for name, value in dif_plus2 %}
              <tr>
                <td class='currency-plus'>
                  {{ name }}
                </td>
                <td class='value-plus2'>
                  {{ value }}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div  class='flex-column'>
          <div>({{ date_delta1 }})</div>
          <table class='table-sm table-bordered table-dark' style='height: 0px'>
            {% for name, value in dif_plus1 %}
              <tr>
                <td class='currency-plus'>
                  {{ name }}
                </td>
                <td class='value-plus1'>
                  {{ value }}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class='mb-3'>
          <div class='flex-column justify-content-around'>
            <div>({{ date_delta }})</div>
          </div>
          <div class='flex-column'>
            <table class='table-sm table-bordered table-dark' style='height: 0px'>
              {% for name, value in dif_plus %}
                <tr>
                  <td class='currency-plus'>
                    {{ name }}
                  </td>
                  <td class='value-plus'>
                    {{ value }}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <table class='table-sm table-dark table-bordered' id='moex'>
      <caption style='caption-side: top'>
        <span class='d-flex justify-content-start'>
          <small>Акции-лидеры и аутсайдеры Мосбиржи. <br>Разница между последней сессией и числом</small>
        </span>
        <span class='ml-auto'>
          <input type='number' id='days' value='2' size='3' min='2'>
          <input type='submit' class='button' id='stocks' value='дней назад'></input>
        </span>
        <span>20</span>
        <input type="radio" name='lenRows' checked="checked" onchange="deleteRow()"/>
        <span>75</span>
		  <input type="radio" name='lenRows' onchange="insRow()"/>
      <div class='date-dict2 text-dark'></div>
      </caption>
      <tr>
        <th class='px-5'>Акция</th>
        <th class='px-3'>%</th>
        <th class='px-5'>Акция</th>
        <th class='px-3'>%</th>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
    </table>
  </div>
  <script src="{% static 'mybl/index.js' %}"></script>
</body>
</html>
{% endblock content %}
