{% extends "mybl/base.html" %}
{% block content %}
{% load static %}
<div class='d-flex justify-content-around flex-wrap align-items-center'>
  <div class='d-flex justify-center mt-2 flex-nowrap align-items-end' style='flex-basis: 30%;'>
    <table class='table-sm table-dark table-striped table-bordered'>
      <form>
      <caption style='caption-side: top'><small></small></caption>
        <tr>
          <td class='text-center'>day</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r20' name='period' value="20">month</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r60' name='period' value="60">quarter</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r125' name='period' value="125">half-year</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r250' name='period' value="250" checked="checked">year</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r1000' name='period' value="1000">4 years</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r4500' name='period' value="4500">18 years</td>
        </tr>
      </form>
    </table>
    <table class='table-sm table-dark table-striped table-bordered'>
      <caption style='caption-side: top'><small></small></caption>
      <tr>
        <th class='px-2 text-center'>S&P500</th>
        <th class='px-2 text-center'>Nasdaq</th>
        <th class='px-2 text-center'>Russell</th>
        <th class='px-2 text-center'>VIX</th>
        <th class='px-2 text-center'>TR10</th>
        <th class='px-2 text-center'>WTI</th>
        <th class='px-2 text-center'>Gold</th>
      </tr>
      {% for ticker in chart_tickers %}
        <tr>
          <td class='change text-right'>
            {{ ticker.dif_gspc }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_ixic }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_rut }}
          </td>
          <td class='change-invert text-right'>
            {{ ticker.dif_vix }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_tnx }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_wti }}
          </td>
          <td class='change-invert text-right'>
            {{ ticker.dif_gold }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  
  <div class='flex-wrap'>
    <!--div class='d-flex justify-content-center flex-wrap align-items-center mt-1'>
      <span class='border border-primary rounded p-1'>Range
      <input type="number" id="period-input" name="periodNum" value="250" min="2" max="4500" step='1' size='3'></span>
      <span class='ml-1 border border-primary rounded p-1' class='mr-2'>Offset
      <input type="number" id="offset-input" value='0' min="0" max="4500" size='3'>
      <span class='ml-1'>to </span>
      <span id="dateOffsetOutput"></span></span>
      <span class='ml-1 border border-primary rounded p-1'>Level of VIX
      <input type="number" id="level-input" value='30' min="0" max='100' size='3'></span>
    </div>
    <div class='radWin d-flex justify-content-center mt-1'>
      <div class='border border-primary rounded p-1'>
        <label>Window of rolling correlation: <input type='radio' id='w5' name='win' value="5">week</label>
        <label><input type='radio' id='w20' name='win' value="20" checked="checked">month</label>
        <label><input type='radio' id='w60' name='win' value="60">quarter</label>
        <label><input type='radio' id='w125' name='win' value="125">half-year</label>
        <label><input type='radio' id='w250' name='win' value="250">year</label>
        <label><input type='radio' id='w500' name='win' value="500">2 years</label>
        <input type="number" id="correlation-input" value='20' min="5" max='500' class='ml-2' size='3'>
      </div>
    </div-->
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart2" width="800" height="450"></canvas>
      </div>
    </div>
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart7" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart8" width="800" height="450"></canvas>
      </div>
    </div>
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart3" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart4" width="800" height="450"></canvas>
      </div>
    </div>
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart5" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart6" width="800" height="450"></canvas>
      </div>
    </div>
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart9" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart10" width="800" height="450"></canvas>
      </div>
    </div>
    <div class="d-flex justify-content-center fixed-bottom">
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" style='max-width: 1200px; flex-basis: 1100px;'>
        <div class="toast-body">
            <div class='radWin d-flex justify-content-center'>
              <div class='d-flex justify-content-center flex-nowrap align-items-center'>
              <span class='border border-primary rounded p-1'>Range
              <input type="number" id="period-input" name="periodNum" value="250" min="2" max="4500" step='1' size='4'></span>
              <span class='ml-1 border border-primary rounded p-1' class='mr-2'>Offset 
              <input type="number" id="offset-input" value='0' min="0" max="4500" size='4'>
              <span> to </span>
              <span id="dateOffsetOutput"></span></span>
              <span class='mx-1 border border-primary rounded p-1'>Level of VIX
              <input type="number" id="level-input" value='30' min="0" max='100' size='4'></span>
            </div>
            <div class='border border-primary rounded p-1'>
              <label>Window of rolling correlation: <input type='radio' id='w5' name='win' value="5">week</label>
              <label><input type='radio' id='w20' name='win' value="20" checked="checked">month</label>
              <label><input type='radio' id='w60' name='win' value="60">quarter</label>
              <label><input type='radio' id='w125' name='win' value="125">half-year</label>
              <label><input type='radio' id='w250' name='win' value="250">year</label>
              <label><input type='radio' id='w500' name='win' value="500">2 years</label>
              <input type="number" id="correlation-input" value='20' min="5" max='500' class='ml-2' size='3'>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var received_data = {{ tickers5000|safe }};
    </script>
    <script src="{% static 'mybl/tickers.js' %}"></script>
    {% endblock content %}
  </div>
</div>
