{% extends "mybl/base.html" %}
{% block content %}
{% load static %}
<div class='d-flex justify-content-around flex-wrap align-items-center'>
  <div class='d-flex justify-center mt-2 flex-nowrap align-items-end' style='flex-basis: 30%;'>
    <table class='table-sm table-dark table-striped table-bordered'>
      <form>
      <caption style='caption-side: top'><small></small></caption>
        <tr>
          <td class='text-center'>day</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r20' name='period' value="20">month</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r60' name='period' value="60">quarter</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r125' name='period' value="125">half-year</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r250' name='period' value="250" checked="checked">year</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r1000' name='period' value="1000">4 years</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r4500' name='period' value="4500">18 years</td>
        </tr>
      </form>
    </table>
    <table class='table-sm table-dark table-striped table-bordered'>
      <caption style='caption-side: top'><small></small></caption>
      <tr>
        <th class='px-2 text-center'>S&P500</th>
        <th class='px-2 text-center'>IXIC</th>
        <th class='px-2 text-center'>RUT</th>
        <th class='px-2 text-center'>DAX</th>
        <th class='px-2 text-center'>SSE</th>
        <th class='px-2 text-center'>SZSE </th>
        <th class='px-2 text-center'>IBOV</th>
        <th class='px-2 text-center'>BSE</th>
        <th class='px-2 text-center'>TR10</th>
        <th class='px-2 text-center'>Wheat</th>
        <th class='px-2 text-center'>WTI</th>
        <th class='px-2 text-center'>Gold</th>
        <th class='px-2 text-center'>VIX</th>
      </tr>
      {% for ticker in chart_tickers %}
        <tr>
          <td class='change text-right'>
            {{ ticker.dif_gspc }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_ixic }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_rut }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_gdaxi }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_ss }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_sz }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_bvsp }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_bsesn }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_tnx }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_wheat }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_wti }}
          </td>
          <td class='change-invert text-right'>
            {{ ticker.dif_gold }}
          </td>
          <td class='change-invert text-right'>
            {{ ticker.dif_vix }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  
  <div class='flex-wrap mt-2'>
    <span class="d-flex justify-content-center">
      <select id="data1" class='mr-1'>
        <option value="S&P500">S&P500</option>
        <option value="Nasdaq">Nasdaq</option>
        <option value="Russell">Russell</option>
        <option value="DAX">DAX</option>
        <option value="SSE Composite">SSE Composite</option>
        <option value="Shenzhen Component">Shenzhen Component</option>
        <option value="IBOVESPA">IBOVESPA</option>
        <option value="S&P BSE SENSEX">S&P BSE SENSEX</option>
        <option value="TR10">TR10</option>
        <option value="Wheat">Wheat</option>
        <option selected value="WTI">WTI</option>
        <option value="Gold">Gold</option>
        <option value="Wti/Gold">Wti/Gold</option>
        <option value="Wheat/Gold">Wheat/Gold</option>
        <option value="VIX">VIX</option>
      </select>
      <select id="data2" class='mr-1'>
        <option value="S&P500">S&P500</option>
        <option value="Nasdaq">Nasdaq</option>
        <option value="Russell">Russell</option>
        <option value="DAX">DAX</option>
        <option value="SSE Composite">SSE Composite</option>
        <option value="Shenzhen Component">Shenzhen Component</option>
        <option value="IBOVESPA">IBOVESPA</option>
        <option value="S&P BSE SENSEX">S&P BSE SENSEX</option>
        <option value="TR10">TR10</option>
        <option selected value="Wheat">Wheat</option>
        <option value="WTI">WTI</option>
        <option value="Gold">Gold</option>
        <option value="Wti/Gold">Wti/Gold</option>
        <option value="Wheat/Gold">Wheat/Gold</option>
        <option value="VIX">VIX</option>
      </select>
      <input type="submit" value="Show" id='button0'>
    </span>
    <canvas id="line-chart0" width="1600" height="600"></canvas>
  </div>

    <!--div class='d-flex justify-content-center flex-wrap align-items-center mt-1'>
      <span class='border border-primary rounded p-1'>Range
      <input type="number" id="period-input" name="periodNum" value="250" min="2" max="4500" step='1' size='3'></span>
      <span class='ml-1 border border-primary rounded p-1' class='mr-2'>Offset
      <input type="number" id="offset-input" value='0' min="0" max="4500" size='3'>
      <span class='ml-1'>to </span>
      <span id="dateOffsetOutput"></span></span>
      <span class='ml-1 border border-primary rounded p-1'>Level of VIX
      <input type="number" id="level-input" value='30' min="0" max='100' size='3'></span>
    </div>
    <div class='radWin d-flex justify-content-center mt-1'>
      <div class='border border-primary rounded p-1'>
        <label>Window of rolling correlation: <input type='radio' id='w5' name='win' value="5">week</label>
        <label><input type='radio' id='w20' name='win' value="20" checked="checked">month</label>
        <label><input type='radio' id='w60' name='win' value="60">quarter</label>
        <label><input type='radio' id='w125' name='win' value="125">half-year</label>
        <label><input type='radio' id='w250' name='win' value="250">year</label>
        <label><input type='radio' id='w500' name='win' value="500">2 years</label>
        <input type="number" id="correlation-input" value='20' min="5" max='500' class='ml-2' size='3'>
      </div>
    </div-->
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart1" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart2" width="800" height="450"></canvas>
      </div>
    </div>
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart7" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart8" width="800" height="450"></canvas>
      </div>
    </div>
    <div class="d-flex justify-content-center fixed-bottom">
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" style='max-width: 1200px; flex-basis: 1200px;'>
        <div class="toast-body">
          <div class='radWin d-flex justify-content-around'>
            <div class='d-flex flex-nowrap'>
            <span class='border border-primary rounded p-1'>Range
            <input type="number" id="period-input" name="periodNum" value="250" min="2" max="4500" step='1' size='4'></span>
            <span class='ml-1 border border-primary rounded p-1' class='mr-2'>Offset 
            <input type="number" id="offset-input" value='0' min="0" max="4500" size='4'>
            <span> to </span>
            <span id="dateOffsetOutput"></span></span>
            <span class='mx-1 border border-primary rounded p-1'>Level of VIX
            <input type="number" id="level-input" value='30' min="0" max='100' size='4'></span>
          </div>
          <div class='border border-primary rounded p-1'>
            <label>Window of rolling correlation: <input type='radio' id='w5' name='win' value="5">week</label>
            <label><input type='radio' id='w20' name='win' value="20" checked="checked">month</label>
            <label><input type='radio' id='w60' name='win' value="60">quarter</label>
            <label><input type='radio' id='w125' name='win' value="125">half-year</label>
            <label><input type='radio' id='w250' name='win' value="250">year</label>
            <label><input type='radio' id='w500' name='win' value="500">2 years</label>
            <input type="number" id="correlation-input" value='20' min="5" max='500' class='ml-2' size='3'>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var received_data = {{ tickers5000|safe }};
    </script>
    <script src="{% static 'mybl/tickers.js' %}"></script>
  </div>
</div>
{% endblock content %}

