{% extends "mybl/base.html" %}
{% block content %}
{% load static %}
<div class='d-flex justify-content-around m-2 flex-wrap align-items-start'>
  <table class='table-sm table-dark table-striped table-bordered'>
    <caption style='caption-side: top'><small></small></caption>
    <tr>
      <th class='px-2'>S&P500</th>
      <th class='px-2'>VIX</th>
      <th class='px-2'>TR10</th>
    </tr>
    {% for ticker in chart_tickers %}
      <tr>
        <td>
          {{ ticker.dif_gspc }}
        </td>
        <td>
          {{ ticker.dif_vix }}
        </td>
        <td>
          {{ ticker.dif_tnx }}
        </td>
      </tr>
    {% endfor %}
  </table>

  <div class='d-flex'>
    <canvas id="line-chart" width="800" height="450"></canvas>
  </div>
  <div class='d-flex'>
    <canvas id="line-chart2" width="800" height="450"></canvas>
  </div>
    <div class='d-flex'>
    <canvas id="line-chart3" width="800" height="450"></canvas>
  </div>
  <script type="text/javascript">
    var received_data  = {{ tickers50|safe }};
  </script>
  <script src="{% static 'mybl/graph.js' %}"></script>
  {% endblock content %}
</div>
</div>
